<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('MES生产任务列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>任务编号：</label>
                                <input type="text" name="taskCode"/>
                            </li>
                            <li>
                                <label>来源工单ID：</label>
                                <input type="text" name="orderId"/>
                            </li>
                            <li>
                                <label>产品ID：</label>
                                <input type="text" name="productId"/>
                            </li>
                            <li>
                                <label>生产数量：</label>
                                <input type="text" name="quantity"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="manufacture:MesTask:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="manufacture:MesTask:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="manufacture:MesTask:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="manufacture:MesTask:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('manufacture:MesTask:edit')}]];
        var removeFlag = [[${@permission.hasPermi('manufacture:MesTask:remove')}]];
        var prefix = ctx + "manufacture/MesTask";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "MES生产任务",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'taskId',
                    title: 'MES任务ID',
                    visible: false
                },
                {
                    field: 'taskCode',
                    title: '任务编号'
                },
                {
                    field: 'orderId',
                    title: '来源工单ID'
                },
{
    field: 'productName',
    title: '产品名称'
},
                {
                    field: 'quantity',
                    title: '生产数量'
                },
                {
                    field: 'status',
                    title: '状态0待执行1执行中2完成'
                },
                {
                    field: 'remark',
                    title: ''
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {

    var actions = [];


    // 待执行
    if(row.status == "0")
    {
        actions.push(
        '<a class="btn btn-info btn-xs" href="javascript:void(0)" onclick="startTask(\'' 
        + row.taskId +
        '\')">' +
        '<i class="fa fa-play"></i>开始生产</a> '
        );
    }


    // 执行中
    if(row.status == "1")
    {
        actions.push(
        '<a class="btn btn-warning btn-xs" href="javascript:void(0)" onclick="completeTask(\'' 
        + row.taskId +
        '\')">' +
        '<i class="fa fa-check"></i>完工</a> '
        );
    }



    actions.push(
    '<a class="btn btn-success btn-xs ' 
    + editFlag +
    '" href="javascript:void(0)" onclick="$.operate.edit(\'' 
    + row.taskId +
    '\')">' +
    '<i class="fa fa-edit"></i>编辑</a> '
    );


    actions.push(
    '<a class="btn btn-danger btn-xs ' 
    + removeFlag +
    '" href="javascript:void(0)" onclick="$.operate.remove(\'' 
    + row.taskId +
    '\')">'
    +
    '<i class="fa fa-remove"></i>删除</a>'
    );


    return actions.join('');
}
                }]
            };
            $.table.init(options);

           
        }); 
        
        function startTask(taskId)
{

    $.modal.confirm(
        "确认开始生产吗？",
        function(){

            $.operate.post(
                prefix + "/start/" + taskId,
                {},
                function(result){

                    $.modal.msgSuccess(result.msg);

                    $.table.refresh();

                }
            );

        }
    );

}



function completeTask(taskId)
{

    $.modal.confirm(
        "确认生产完成吗？",
        function(){

            $.operate.post(
                prefix + "/complete/" + taskId,
                {},
                function(result){

                    $.modal.msgSuccess(result.msg);

                    $.table.refresh();

                }
            );

        }
    );

}
    </script>
</body>
</html>